.body{
    
    background-color: darkslategray;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height:100vh;
    background-size:cover;
    text-align:center;
    
}
.input-element{
    width:50%;
    border-radius:10px;
    height:30px;
    border-width:0px;
}
.button{
    padding:10px;
    margin:10px;
    border-width:0px;
    width:50%;
    background-color:yellow;
    border-radius:7px;
}
.button-second-page{
   width:90%;
   height:40px;
   border-width:0px;
   padding:10px;
   margin:10px;
   color:white;
   border-radius: 10px;
}